<!DOCTYPE html>
<html lang="en">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 <style>
     body {

     background-color: grey;

     }

 </style>

<head>
    <meta charset="UTF-8">
    <title>Kashif Saleem Associates</title>
</head>

<body >

    <div class="container">
        <div class="row">
<!--            <div class="col-md-3"></div>-->
            <div class="col-md-12 text-center " style="font-family: 'Merriweather', serif;">
                <h1>Website is under construction</h1>
            </div>
<!--            <div class="col-md-2"></div>-->
        </div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
    </div>



    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container ">

          <!-- Grid row -->
          <div class="row">
              <div class="col-md-2" ></div>

            <!-- Grid column -->
            <div class="col-md-8">

              <!-- Content -->
                <img class="img-responsive" src="media/KS-logo-withcontact.png" />

            </div>
            <!-- Grid column -->

              <div class="col-md-2" > </div>

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->
      </footer>
      <!-- Footer -->

</body>
</html>